@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: Roboto;
}

html{
  font-size: 10px
}
p, a, span{
  font-size: 1.6rem
}

@import './css/variables';
@import './css/home';